* {
    padding: 0px;

}

body {
    margin: 0px;
    /* background-color: black; */
}

.montserra_font {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
}

.container {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.main {
    display: flex;
    margin-left: 10%;
    height: 90%;
    padding-top: 5vh;
    width: 80%;
    margin-left: 10%;

}

.left-section {
    width: 40%;
    background-color: white;
    height: 100%;
    font-family: montserrat;
    border-radius: 7px 0px 0px 7px;
}

.right-section {
    width: 60%;

    background-image: url(../images/forget_password_banner.png);
    height: 100%;
    background-repeat: no-repeat;

    background-size: cover;
    object-fit: cover;
    border-radius: 0px 7px 7px 0px;

}

.logo {
    /* background-image: url(../images/logo.png); */
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.logo-img {
    height: 24%;
    width: 36%;
}

.back-login {
    padding-top: 12px;
    padding-bottom: 12px;
}

.back-a {
    font-family: helvetica, arial;
    font-weight: 800;
    font-size: 12px;
    color: #00b099;
    margin-left: 10%;

}

.forgot-pas {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 8%;
    margin-top: 8%;
}

.forgot-pas-p {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 6%;
    margin-top: 12%;
}

.forgot-txt {

    font-size: 24px;

}

.para-p {

    text-align: center;
    font-weight: bold;
}

.para {
    width: 68%;
    text-align: center;

    margin-left: 18%;
    font-size: 11px;
}

.email {

    width: 84%;
    margin-left: 8%;
    margin-top: 50px;

}

.labels {

    font-size: 14px;
    padding-bottom: 4px;

}

.input-field {

    width: 100%;
    padding: 5px 0px;
}

.button {
    background-color: #00b099;
    color: white;
    width: 84%;
    margin-left: 8%;
    padding: 7px 0px;
    border-radius: 5px;
    border: none;
    margin-top: 45px;
}

.button-e {
    background-color: #00b099;
    color: white;
    width: 84%;
    margin-left: 8%;
    padding: 7px 0px;
    border-radius: 5px;
    border: none;
    margin-top: 55px;
}

.b-bottom {
    font-size: 11px;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;

}

.green {
    color: #00b099;
    font-weight: bold;
}

.last-para {
    text-align: center;
    font-size: 11px;
    margin-top: 11%;
    margin-bottom: 10%;
    font-weight: normal;
    font-family: sans-serif;
}

.last-para-cn {
    text-align: center;
    font-size: 11px;
    margin-top: 13%;
    margin-bottom: 10%;
    font-weight: normal;
    font-family: sans-serif;
}

@media (max-width: 768px) {
    .container {

        display: block;

    }

    .main {
        height: 110vh;
        padding-bottom: 5vh;
    }

    .right-section {

        display: none;

    }

    .left-section {
        width: 100%;
        margin-bottom: 5%;
        border-radius: 7px 7px 7px 7px;
    }




    .right-section {
        width: 100%;
    }

    .last-para {
        margin-top: 20%;

    }

    .para {
        width: 70%;
        text-align: center;
        margin-left: 20%;
    }

    .right-section-confirmation {
        width: 60%;

        background-image: url(../images/Banner\ confirmation\ window.png);
        height: 100%;
        background-repeat: no-repeat;

        background-size: cover;
        object-fit: cover;


    }
}

/* confirmation */


.right-section-confirmation {
    width: 60%;

    background-image: url(../images/Banner\ confirmation\ window.png);
    height: 100%;
    background-repeat: no-repeat;

    background-size: cover;
    object-fit: cover;


}

.confirm-logo {
    height: 26%;
    width: 35%;
}


.para-confirm {
    font-size: 12px;
    width: 66%;
    text-align: center;
    margin-left: 17%;
    margin-top: 7%;
}



@media (max-width: 760px) {

    .main {
        height: 110vh;
        padding-bottom: 5vh;
    }

    .left-section {
        width: 100%;

    }

    .right-section-confirmation {

        display: none;
    }

    .last-para-cn {

        margin-top: 24%;
    }

    .para {
        width: 70%;
        text-align: center;
        margin-left: 15%;
    }

}

/* forgot password */

.right-section-pass {
    width: 60%;

    background-image: url(../images/Banner\ reset\ password.png);
    height: 100%;
    background-repeat: no-repeat;

    background-size: cover;
    object-fit: cover;


}

.para-p {

    text-align: center;
    font-weight: bold;
}

.para-pass {
    font-size: 12px;
    width: 70%;
    text-align: center;
    margin-left: 15%;
}


.pass {

    width: 84%;
    margin-left: 8%;
    margin-top: 50px;

}


.input-field {
    padding-bottom: 6px;
    padding-left: 5px;
    margin-bottom: 9px;
    border: 1px solid gainsboro;
}

.last-para-re {
    text-align: center;
    font-size: 11px;
    margin-top: 14%;
    margin-bottom: 10%;
    font-weight: normal;
    font-family: sans-serif;
}


@media (max-width: 760px) {


    .left-section {
        width: 100%;

    }

    .right-section-pass {

        display: none;
    }

    .last-para-re {

        margin-top: 20%;
    }

    .para {
        width: 70%;
        text-align: center;
        margin-left: 15%;
    }


    .main {
        height: 110vh;
        padding-bottom: 5vh;
    }
}